$accent: #cacaca;
$background: #fff;
$text: rgb(72, 72, 72);
$text-accent: #999;

:root {
  --active: rgb(66, 189, 255);
}

body {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

.btn-icon:hover {
  filter: brightness(0.8);
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
main {
  font-family: "Poppins", sans-serif;

  display: grid;
  grid-template-rows: auto 1fr auto;

  height: 100vh;

  svg {
    cursor: pointer;
    color: $text-accent;

    transition: color 300ms ease;

    background-color: transparent !important;
  }

  button {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 5px;

    font-weight: 500;
    font-size: 14px;

    background-color: transparent;

    cursor: pointer;
    font: inherit;
    font-weight: 500;

    color: $text;

    border: none;

    height: 40px;
    width: calc(100%);

    padding-inline: 10px;
    margin: 0;

    transition: all 200ms ease;
  }

  button + button {
    border-top: 1px solid $accent;
  }
}

// button:focus {
//   background-color: var(--active) !important;
//   outline: none;
// }

header {
  display: flex;
  justify-content: space-between;

  border-bottom: 1px solid rgb(215, 215, 215);

  padding: 1rem;
}

section {
  padding: 1rem;

  display: flex;
  flex-direction: column;

  // justify-content: center;

  .head {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

footer {
  display: flex;
  justify-content: space-between;

  border-top: 1px solid rgb(215, 215, 215);

  padding: 1rem;
}

.dropdown-wrapper {
  position: relative;

  user-select: none;
}

.wrapper {
  transition: all 300ms ease;
}

.deactivated {
  transform: scale(0.9);
}

.activated {
  transform: scale(1);
}

.dropdown {
  display: flex;
  flex-direction: column;
  z-index: 1;

  box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.1);

  overflow: hidden;

  border-radius: 10px;
  border: 1px solid $accent;

  background-color: $background;

  position: absolute;

  transition: opacity 300ms ease, visibility 300ms ease;
}

.collapsed {
  opacity: 0;
  visibility: hidden;
}

.expanded {
  opacity: 1;
  visibility: visible;
}

.card {
  margin-top: auto;

  border-radius: 10px;
  border: 1px solid $accent;

  width: fit-content;
  height: 20rem;

  display: flex;
  flex-direction: column;

  header {
    flex-direction: column;

    border: none;
  }

  footer {
    margin-top: auto;
  }
}
